<html>
<head>
    <TITLE></TITLE>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="$!request.getContextPath()/common/main.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="$!request.getContextPath()/js/fav2.js"></script>
    <link rel="stylesheet" type="text/css" href="$!request.getContextPath()/common/fav2.css">
</head>
<body id="bodyleft">
<div id="navLeft">
    <table border="0" cellspacing="0" cellpadding="0" width="100%" bgcolor="#FFFFFF">
        <tr>
            <td height="10" valign="top" nowrap>

                #parse("frame/tree.vm")
                #parse("frame/treevalue.vm")

                <script>
                    var treeItems = $!{applicationResurce} ;

                </script>
                <script>
                    new tree(treeItems, tree_tpl);
                </script>
                <br>
                <br>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
