<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<frameset cols="180,*" border="0" framespacing="0" frameborder="NO" rows="*" bordercolor="#333333" noresize="yes">
    <frame  name="left" src="$!request.getContextPath()/pjconfig/region/city/tree.htm" scrolling="no" noresize="yes">
    <frame  name="right" src="$!request.getContextPath()/pjconfig/region/city/default.htm">
</frameset>
<noframes>
    <body bgcolor="#FFFFFF" text="#000000">
    对不起，您的浏览器版本不支持框架！
    </body>
</noframes>
</html>
