#macro(showValidateError $modleName $fieldName)
    #if($springMacroRequestContext.getErrors($modleName))
        #set($path=${modleName}+"."+${fieldName})
        #springBind($path)
    <span style="color: red"> $status.errorMessage </span>
    #end
#end